<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @career_stat.player %>
</p>

<%= link_to 'Edit', edit_career_stat_path(@career_stat) %> |
<%= link_to 'Back', career_stats_path %>
