<div id="fullow-about">
  <div class="jumbotron center about-custom">
    <p><strong>NBAStalk</strong> is a social media and statistics aggregator. Nowadays your favorite athlete has too many social media sites. NBAStalk collects the latest information on your favorite player and presents it to you in one easy to follow dashboard.</p>

    <p>Built by
        <a href="https://twitter.com/jamesjtong" target="_blank">@jamesjtong</a>,
        <a href="https://twitter.com/samtalks" target="_blank">@samtalks</a>,
        <a href="https://twitter.com/theevo" target="_blank">@theevo </a>
    </p>
  </div>

</div>