<script type="text/javascript">
$(function() {
    var availablePlayers = <%= raw @players_array.to_json %>;

    $( "#players" ).autocomplete({
      source: availablePlayers,
      select: function( event, ui ) {
        window.location.href = ui.item.value;
        event.preventDefault();
      }
    });

    $(document).keypress(function(e) {
      if(e.which == 13) {
        var player_choice = $( "#players" ).val();
        var player_hash = $.grep(availablePlayers, function(hash){
          return hash.label.toLowerCase() == player_choice.toLowerCase();
        });
        var value = player_hash[0].value;
        window.location.href = value;
        // console.log(player_hash[0].value)
      }
    });

  });
</script>
<div id="fullow-wallpaper">
  <h2 style="margin-left:1em"><font color="darkred">
    <br><br><br><br>NBA Stalk </font></style>
      <input id="players" placeholder="Jeremy Lin" />
  </h2>
  <div style="height:67%">
  </div>
  <div style="margin-left:2em">
    Brought to you by
    <a href="https://twitter.com/jamesjtong">@jamesjtong</a>
    <a href="https://twitter.com/theevo">@theevo</a>
    <a href="https://twitter.com/samtalks">@samtalks</a>
    of <a href="http://flatironschool.com">Flatiron School</a>
    <br>
    <h1>
  </div>
</div>