<script type="text/javascript">


  $(function() {
    var availablePlayers = <%= raw @players_array.to_json %>;
    $( "#players" ).autocomplete({
      source: availablePlayers,
      select: function( event, ui ) {
        // var name = ui.item.label;
        // $('.ui-autocomplete-input').val(name);
        window.location.href = ui.item.value;
        event.preventDefault();
      },
      focus: function(event,ui){
        var name = ui.item.label;
        $('.ui-autocomplete-input').val(name);
        event.preventDefault();
      }
    });

    $(document).keypress(function(e) {
      if(e.which == 13) {
        var player_choice = $( "#players" ).val();
        var player_hash = $.grep(availablePlayers, function(hash){
          return hash.label.toLowerCase() == player_choice.toLowerCase();
        });
        var value = player_hash[0].value;
        window.location.href = value;
        // console.log(player_hash[0].value)
      }
    });

  });

</script>
<div id="fullow-wallpaper">
  <h2 style="margin-left:1em"><font color="white">
    <br><br><br><br>NBAStalk </font></style>
      <input id="players" placeholder="Carmelo Anthony" />
  </h2>
  <div style="height:67%">
  </div>
</div>