<script type="text/javascript">
$(function() {
    var availablePlayers = <%= raw @players_array.to_json %>;

    $( "#players" ).autocomplete({
      source: availablePlayers,
      select: function( event, ui ) {
        window.location.href = ui.item.value;
        event.preventDefault();
      }
    });

    $(document).keypress(function(e) {
      if(e.which == 13) {
        var player_choice = $( "#players" ).val();
        var player_hash = $.grep(availablePlayers, function(hash){
          return hash.label.toLowerCase() == player_choice.toLowerCase();
        });
        var value = player_hash[0].value;
        window.location.href = value;
        // console.log(player_hash[0].value)
      }
    });

  });
</script>
<div id="fullow-wallpaper">
  <h1>NBA Stalk</h1>
    <div class="ui-widget">
      <input id="players" placeholder="Jeremy Lin" /><br>
      <label for="players">Search for your favorite player</label>
    </div>
</div>