<script type="text/javascript">
$(function() {
    var availablePlayers = <%= raw @players_hash.to_json %>;

    $( "#players" ).autocomplete({
      source: availablePlayers,
      select: function( event, ui ) {
        window.location.href = ui.item.value;
      }
    });
  });
</script>

<h1>NBA Stalker</h1>
<div class="ui-widget">
  <input id="players" placeholder="Jeremy Lin" /><br>
  <label for="players">Search for your favorite player</label>
</div>
