<ul class="list-group">
  <li class="list-group-item james-list">
    <span class="badge pull-left">1</span>
    Lebron James
  </li>
    <li class="list-group-item james-list">
    <span class="badge pull-left">2</span>
    <a href="#">Lebron James</a>
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">3</span>
     Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">4</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">5</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">6</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">7</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">8</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">9</span>
    Lebron James
  </li>
  <li class="list-group-item james-list">
    <span class="badge pull-left">10</span>
    Lebron James
  </li>
</ul>