// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fullow-wallpaper{
  background: url("/assets/home.jpg");
  background-repeat: no-repeat;
  height: 900px;
  background-size:100%;
  background-position:top;
}

#fullow-search {
  background-color: transparent;
}

.fullow-stats {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
}

.fullow-stats ul {
  float: left;
  width: 100%;
}

.fullow-stats li {
  display: inline;
  float: left;
  width: 32%;
  text-align: center;
}

.fullow-stats li strong {
  font-weight: bold;
  font-size: x-large;
}

.fullow-table {
  width: 100%;
}

.fullow-table th, td {
  border: thin solid #282828;
  text-align: center;
}

.ui-helper-hidden-accessible {
  display:none;
}

.ui-autocomplete {}
.ui-front {}

.ui-menu {
  background: white;
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
  width: 20em;
}

.ui-widget {}
.ui-widget-content {}
.ui-corner-all {}