// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fullow-stats {
  list-style-type: none;
}

.ui-helper-hidden-accessible {
  display:none;
}

.ui-autocomplete {}
.ui-front {}

.ui-menu {
  background: white;
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
  width: 20em;
}

.ui-widget {}
.ui-widget-content {}
.ui-corner-all {}