
#fullow-wallpaper {
  background: url(image-path("d.jpg"));
  background-repeat: no-repeat;
  height: 900px;
  background-size: 100%;
  background-position: top;
}

#fullow-discuss {
  background: url(image-path("pg.jpg"));
  background-repeat: no-repeat;
  height: 900px;
  background-size: 100%;
  background-position: 30% 30%;
}

#fullow-about {
  background: url(image-path("klove.jpg"));
  background-repeat: no-repeat;
  height: 900px;
  background-size: 100%;
  background-position: top;
}

#fullow-top {
  background: url(image-path("klove.jpg"));
  background-repeat: no-repeat;
  height: 900px;
  background-size: 100%;
  background-position: top;
}

#fullow-search {
  background-color: transparent;
}

.fullow-stats {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  ul {
    float: left;
    width: 100%;
  }
  li {
    display: inline;
    float: left;
    width: 32%;
    text-align: center;
    strong {
      font-weight: bold;
      font-size: x-large;
    }
  }
}

.fullow-table {
  width: 100%;
  th {
    border: thin solid #282828;
    text-align: center;
  }
}

td {
  border: thin solid #282828;
  text-align: center;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete!, .ui-front! {}

.ui-menu {
  background: white;
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
  width: 20em;
  cursor: pointer;
}

.james-list {
  max-width: 1200px;
}

.about-custom {
  background-color: rgba(245, 245, 245, 0.8);
  position: absolute;
  left: 25%;
  top: 20%;
  max-width: 50%;
}

/*index page customization*/

.index-total {
  height: 100%;
  width: auto;
  background: image-url("a.jpg") no-repeat center center fixed black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.james-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 100;
}

.j-bottom {
  border-bottom: thick solid #cc0000;
}

.ui-widget!, .ui-widget-content!, .ui-corner-all! {}

.glob-discuss {
  border: 10px solid orange; 
  background-color: white; 
}