<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @season_stat.player %>
</p>

<%= link_to 'Edit', edit_season_stat_path(@season_stat) %> |
<%= link_to 'Back', season_stats_path %>
